<!-- start Simple Custom CSS and JS -->
<style type="text/css">
#block-3, #block-6, #block-5, #block-10 { 
		
	padding-top: 5px !important;
	padding-bottom: 12px !important;

}

#block-3 h3, #block-6 h3,  #block-5 h3, #block-10 h3, .widget-title{
	text-transform: unset;
	font-size :19px !important;
	margin-bottom : 27px !important;
}

	#block-3 h3::after, #block-6 h3::after, #block-5 h3::after, #block-10 h3::after {
    background-color: #fb2056;
    content: "";
    position: absolute;
    width: 50px;
    display: block;
    height: 4px;
	margin-top :7px !important;

}

.wp-block-latest-posts__list{
		padding-left : 12px !important;
}

.wp-block-search__inside-wrapper{
	
	height:40px;
	
}

.wp-block-search__input{
	
background-color: #f4f4f4;
}



.wp-block-search__button{
	
  margin-left:0px;
	color : #fff;
}

.wp-block-search__button{
	background: linear-gradient(#fb2056, #fb2056);
	border-color : #fb2056;
	
}

.wp-block-search__button:hover{
	background: linear-gradient(#d7204d, #d7204d);
	border-color : #d7204d;
	
}


.wp-polls input[type="button"]{
	
	background: linear-gradient(#444, #444);
	
}

.wp-polls input[type="button"]:hover{
	
	background: linear-gradient(#444, #444);
	border-color : #444;
	
}

/*
.wp-polls label:hover{
color:red;	
}	
*/


.wp-polls input[type="radio"]{
    position: relative;
	margin-right:5px;
	bottom : -1px;
	
}

.wp-polls label{
	
	font-weight:normal;
	
}

.wp-polls label:hover{
	cursor : pointer;
	font-weight:bold;
	
}

.vote-btn{
	float: left !important;
    text-align: center;
    margin-left: 25px !important;
}

.view-results{
	
	margin-right: 15px;
    float: right;
	
}

.weLoveQuotes.quote{
text-align:center;
}

.weLoveQuotes.author{
text-align:center;
margin-top:5px;
color : #8d8d8d;
font-weight : normal !important;
}

.tnp-privacy{
	
	vertical-align: middle;
    position: relative;
    bottom: 1px;
	margin : 0 0 0 0 !important;	
}

.widget_text{
	padding-bottom : 0px !important;
	
}

.sticky-widget{
	width :100%;
	
}</style>
<!-- end Simple Custom CSS and JS -->
